/*--------------------------------------------------------------
# slider-sec
--------------------------------------------------------------*/
.slider-sec {
	padding: 50px 0px 60px 0px;
  @media only screen and (max-width: 767px) {
   padding: 40px 0px;
  }
	.first-slider {
		position: relative;
	}
	.swiper-slide {
		height: auto;
    @media only screen and (max-width: 767px) {
     height: 100%;
    }
	}
	.books-single {
    display: block;
    background-color: #eceef0;
		width: 100%;
		height: 100%;
    text-decoration: none;
		.book-img {
			width: 100%;
			height: 300px;
			object-fit: contain;
			padding: 15px 15px 5px 15px;
      @media only screen and (max-width: 1399px) {
       height: 250px;
      }
      @media only screen and (max-width: 1199px) {
       height: 230px;
      }
      @media only screen and (max-width: 991px) {
       height: 200px;
      }
			@media only screen and (max-width: 767px) {
				height: 180px;
        padding-top: 8px;
        padding-bottom: 3px;
			}
			@media only screen and (max-width: 482px) {
				height: 150px;
			}
		}
	}
  .art-text{
    text-align: start;

    span{
      color:darken($color: $text-color, $amount: 10%);
      display: block;
      width: 100%;
      font-size: 15px;
      &:not(:last-child) {
      margin-bottom: 6px;
      }
    }
  }
	.book-text {
		padding: 8px 25px 15px 25px;
		text-align: center;
    @media only screen and (max-width: 767px) {
      padding: 8px 15px 15px 15px;
    }
		h2 {
			font-size: 16px;
			line-height: 1.2;
			font-weight: 500;
			color: $bg-black;
			margin-bottom: 6px;
      @media only screen and (max-width: 482px) {
       font-size: 15px;
      }
		}
		p {
			font-size: 15px;
      color: $primary-color;
      font-weight: 500;
      a{
        text-decoration: none;
        display: inline-block;
        color: $primary-color;
      }
		}
    .form-select{
      margin-bottom: 8px;
    }

	}

  &.art-ds{
    /*--------------------------------------------------------------
# swiper-btns
--------------------------------------------------------------*/
.swiper-btns {

	.btn-cm {

		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 33px;
		height: 33px;
		background-color: $bg-black;
		border-radius: 0;
		color: $primary-color;
		font-size: 22px;
		outline: none;
    z-index: 9;
    @media only screen and (max-width: 482px) {
     width: 25px;
     height: 25px;
     font-size: 18px;
    }
		&.btn-left {
      position: absolute;
      top: 20%;
      left: 0;
      transform: translateY(-50%);
			i {
				position: relative;
				right: 1px;
			}
		}
		&.btn-right {
      position: absolute;
      top: 20%;
      right: 0;
      transform: translateY(-50%);
			i {
				position: relative;
				left: 1px;
			}
		}
	}
}

  }

}

/*--------------------------------------------------------------
# swiper-btns
--------------------------------------------------------------*/
.swiper-btns {

	.btn-cm {

		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 33px;
		height: 33px;
		background-color: $bg-black;
		border-radius: 0;
		color: $primary-color;
		font-size: 22px;
		outline: none;
    z-index: 9;
    @media only screen and (max-width: 482px) {
     width: 25px;
     height: 25px;
     font-size: 18px;
    }
		&.btn-left {
      position: absolute;
      top: 45%;
      left: 0;
      transform: translateY(-50%);
			i {
				position: relative;
				right: 1px;
			}
		}
		&.btn-right {
      position: absolute;
      top: 45%;
      right: 0;
      transform: translateY(-50%);
			i {
				position: relative;
				left: 1px;
			}
		}
	}
}
