@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

$main-color:#F2F2F2;
$bg-white:#FFFFFF;
$bg-black:#000000;
$bg-nav-collapse:#191a1a;
$primary-color: #F25B11;
$secondary-color:#FFF0C4;
$text-color: #606060;
$title-color:#232323;
