/*--------------------------------------------------------------
# sec-t
--------------------------------------------------------------*/

.sec-t {
	text-align: center;
	h2 {
		font-size: 33px;
		font-weight: 700;
		margin-bottom: 44px;
		@media only screen and (max-width: 1399px) {
			margin-bottom: 30px;
			font-size: 38px;
		}
		@media only screen and (max-width: 1199px) {
			margin-bottom: 30px;
			font-size: 36px;
		}
		@media only screen and (max-width: 991px) {
			font-size: 30px;
		}
		@media only screen and (max-width: 767px) {
			font-size: 28px;
			margin-bottom: 30px;
		}
		@media only screen and (max-width: 482px) {
			font-size: 24px;
		}
		span {
			font-weight: 400;
		}
	}
}

/*--------------------------------------------------------------
# feature
--------------------------------------------------------------*/
.feature {
  background-color: #FFF7E1;
	padding: 60px 0px;
	@media only screen and (max-width: 767px) {
		padding: 30px 0px;
	}
	.mason-img {
		text-align: center;

		.m-img {
			width: 100%;
			height: 270px;
			object-fit: contain;
			margin-bottom: 6px;
			@media only screen and (max-width: 1199px) {
				height: 280px;
			}
			@media only screen and (max-width: 991px) {
				height: 260px;
			}
			@media only screen and (max-width: 767px) {
				height: 240px;
			}
		}
	}
  .art-text{
    text-align: start;

    span{
      color:darken($color: $text-color, $amount: 10%);
      display: block;
      width: 100%;
      font-size: 15px;
      &:not(:last-child) {
      margin-bottom: 6px;
      }
    }
  }
	.book-text {
		padding-top: 6px;
    @media only screen and (max-width: 767px) {
     padding-left: 15px;
     padding-right: 15px;
    }
		h2 {
			font-weight: 500;
			font-size: 16px;
      margin-bottom: 6px;
		}
		p {
			font-size: 15px;
			color: $primary-color;
      a{
        text-decoration: none;
        display: inline-block;
        color: $primary-color;
        font-weight: 500;
      }
		}
    .form-select{
      margin-bottom: 8px;
    }
	}
}
